body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  background-color: blue;
  color: white;
}

#numberCounter {
  /*
    We're adding a new style for anything with the id numberCounter
    1. A double line border
    1. An off-white background
    1. Black text
  */
  border-style: double;
  background-color: whitesmoke;
  color: black;
}
